<p id="notice"><%= notice %></p>

<input type="hidden" id="product_id" value="<%= @product.id %>" />

<p>
  <img width="250" height="250" src="<%= @product.image %>" />
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @product.code %>
</p>

<br />

<div class="btn">
  <a id="btn-purchase" class="btn" href="#">Purchase Product</a>
</div>

<br />

<h3>Similar Products</h3>
<table cellpadding="10" cellspacing="5">
  <tr>
<% @similar_products.each do |product| %>
  <td>
    <a href="/products/<%= product.id %>">
      <img width="250" height="250" src="<%= image_url(product.image) %>" />
      <p><%= product.title %></p>
    </a>
  </td>
<% end %>
  </tr>
</table>

<style>
  .similar-products{
    display: inline;
    margin-right: 30px;
    border: 1px solid black;
  }
</style>

<script>
  $('#btn-purchase').on('click', function(){
      if(confirm('Are you sure you want to purchase this product?')) {
          $.ajax({
              url: 'purchase',
              data: { product_id: $('#product_id').val() },
              method: 'post',
              success: function (data) {
                  if(data.success){
                      $('#notice').text('Product was successfully purchased').show();
                  } else {
                      $('#notice').text(data.error).show();
                  }
              },
              error: function(err1, err2){
                  console.log('Error: \n' + JSON.stringify(err1) + '\n' + JSON.stringify(err2));
              }
          });
      }
      return false;
  });
</script>